# files will be auto encrypted when commit
link/.gauth filter=git-crypt diff=git-crypt
link/.ssh/** filter=git-crypt diff=git-crypt
res_ads/settings.py filter=git-crypt diff=git-crypt
schedules/settings.py filter=git-crypt diff=git-crypt
news.json filter=git-crypt diff=git-crypt
emacsvi.json filter=git-crypt diff=git-crypt
.env filter=git-crypt diff=git-crypt
function.md filter=git-crypt diff=git-crypt
*.html filter=git-crypt diff=git-crypt


# avoid accidentally encrypt files
# NOTES: need to be at last to have highest priority
.gitignore !filter !diff
.gitattributes !filter !diff
